body {
  margin: 0;
}
.LetoutBoutique{
    background-color: #1c1b1b;
}

.carreau1 {
    background-color: #f2f2f2;
    width: 42em;
    min-height: auto;
    margin: -115px 100px 0 auto;
}

.carreau2 {
  width: 660px;
  height: 300px;
  margin: -310px auto -26px 1370px;
  border-style: solid;
  position: relative;
  border-image: linear-gradient(to right, #c33764, #1d2671);
  border-image-slice: 1;
   
}



.imagefond{
  width: 100%;
  object-fit: cover;
  display: flex;
}

.carreau1Texte{
  font-size: 3.75rem;
  margin: 0 auto 0 70px;
  font-weight: 700;
  padding: 40px;
}

.carreau2Texte{
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 0.05rem;
  margin: 130px 45px 0 auto;
  padding: 11px 24px 11px 23px;
  border-radius: 50px;
  display: table;
  text-decoration: none;
  background-color: #a47244;
  color: #ffffff;
}

.BoutiqueLigne1{
   grid-template-columns: repeat(3,33%);
    min-height: 497px;
    grid-gap: 110px;
    width: 1080px;
    margin: 78px auto 0;
    position: relative;
    display: grid;
    color: white;
}

.BoutiqueBlock{
  padding: 0 30px;
}

.ButtonImage{
  border: none;
  background-color: transparent;
  cursor: pointer;
  
}

.BoutiqueImage{
  margin-top: 51px;
  margin-left: -118px;
  transition-duration: 0.5s;
  filter: brightness(0.95);
  width: 100%;
  object-fit: cover;
  display: block; 
  height: 444px;
  width: 296px;
}
.BoutiqueImage:hover{
  box-shadow: 2px 2px 8px 0px rgb(145, 144, 144);
}

.Produit{
  font-size: 1.25rem;
  margin: 15px -118px 0;
}

.Prix{
  font-size: 1.125rem;
  margin: 15px -118px -41px;
}

.BoutiqueLigne2{
  grid-template-columns: repeat(3,33%);
    grid-gap: 110px;
    width: 1080px;
    margin: 55px auto 45px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    position: relative;
    color: white;
}

.Promotions{
  margin-bottom: -1rem;
  font-weight: 700;
  font-size: 3.2rem;
  text-align: center;
  padding-top: 3em;
  background: rgb(168,2,20);
  background-image: linear-gradient(to right, #a80214, #a70033, #9d004f, #880068, #67177c);
  background-clip: text;
  color: transparent;

}

.PrixPromotions{
  font-size: 1.125rem;
  margin: 15px -118px -41px;
  text-decoration: line-through;
  color: red;
}

.Promo{
  font-size: 1.125rem;
  margin: 21px -35px 111px;
  position: relative;
  top: -2px;
}

section > *{
  position: relative;
}

