.testt{
    background-color: #1c1b1b;
}
.Rectangle{
    height: 810px; 
    width: 388px; 
    background-color: grey; 
    margin-left: auto; 
    position: relative;
    top: 45px;
    border-style: solid;
    color: white;
    border-color: black;
}

.ImageP{
    display: block; 
    margin-top: -43em; 
    width: 540px;
}

.image{
    margin-left: 32em;
    margin-right: 98em;
}

.image img {
    transition: all 1s ease;
}

.image:hover img {
    /* L'image est grossie de 25% */
    transform:scale(1.50);
}

.ImageG{
    width: 152px;
    height: 152px;  
    border-style: solid;
    border-radius: 20px;
    object-fit: cover; /* Remplit l'espace disponible sans déformer l'image */
    cursor: pointer; /* Change le curseur lorsqu'on survole l'image */
    margin-right: 10px; /* Ajoute un espace entre les images */
    background-color: rgb(81, 81, 81, 0.5);
}

.ImageG:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


.ListeImages{
    list-style-type: none;
    top: -33em;
    position: relative;
    margin-left: 4em;
    margin-right: 83em;
}

ul li {
    padding: 20px 0;
  }

.boulion{
    height: 101px;
    width: 101px;
    margin-left: 16em;
}

.PrixBoutique{
    float: right;
    margin-top: -40px;
    font-size: 20px;
    margin-right: 25px;
}

.titrebou{
    font-size: 30px;
    margin-left: 28px;
}

.boutonbou {
    display: block;
    margin-left: 28px;
    border: 2px solid black;
    background-image: linear-gradient(-185deg, rgb(205, 59, 55) 49.5%, rgb(159, 45, 42) 50.5%);
    background-size: 100% 255%;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 15px 67px;
    transition: color 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s, background-color 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s, background-position 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    border-radius: 4.6rem;
    margin-top: 20px;
  }

.boutonbou:hover{
    background-color: rgb(159, 45, 42);
    background-position: 0px 100%;
    text-decoration: underline;
    transition: color 0.35s cubic-bezier(0.12, 0.71, 0.31, 0.89) 0s, background-color 0.35s cubic-bezier(0.12, 0.71, 0.31, 0.89) 0s, background-position 0.35s cubic-bezier(0.12, 0.71, 0.31, 0.89) 0s;
    cursor: pointer;
}

h2{
    margin-left: 28px;
    margin-top: 20px;
}

.carac{
    margin-left: 28px;
    font-size: 16px;
    margin: 10px 28px
}

hr{
    width: 85%;
    color: black;
    margin-top: 20px;
}

.testt{
    height: 903px;
}