body.body-joueur {
    background-color: #1c1b1b;
    color: #1c1b1b;
    font-family: Montserrat, "sans-serif";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 50px;
}

.title-joueur {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: white;
}

.container-description-joueur {
    border: 6px solid black;
    border-radius: 10px;
    width: 70%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #dddddd;
    margin: 1em;
}

.container-description-joueur p.p-title {
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: 35px;
}

.container-description-joueur p.p-description {
    margin: 15%;
    text-align: center;
}

.container-name-joueur {
    border: 6px solid black;
    border-radius: 10px;
    width: 30%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dddddd;
    margin: 2em;
}

.cards-joueur {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    margin: 1em;
    width: 100%;
}

.card-joueur {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 6px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    font-family: sans-serif;
    background-color: #dddddd;
    width: 15%;
    height: 300px;
    margin: 1em;
}

p.p-joueur {
    display: flex;
    text-align: center;
    margin-top: 20%;
}

img.img-joueur {
    width: 150px;
    height: 150px;
}

.circle-joueur {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 6px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dddddd;
    overflow: hidden;

}

.space-joueur{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 2em;
}

.circle-joueur img {
    width: 70%;
}

.container-message-joueur {
    border: 6px solid black;
    border-radius: 10px;
    width: 30%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dddddd;
    margin: 2em;
}