body.body-planning {
    background-color: #1c1b1b;
    color: #1c1b1b;
    font-family: Montserrat, "sans-serif";
    justify-content: center;
    padding: 50px;
}

.schedule-planning {
    display: flex;
    width: 100%;
}

.title-planning {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: white;
}

.border{
    border-width: 6px;
    border-radius: 1em;
    border-style: solid;
    border-color: black;
    background-color: #dddddd;
    padding: 1em;
    margin-bottom: 1em;
}

.day {
    flex: 1;
    margin: 1em;

}

.day-name {
    font-weight: bold;
    font-size: 30px;
    margin: 1em;
    color: white;
}

.activity {
    display: flex;
}

.activity-time {
    flex: 1;
    font-size: 30px;

}

.activity-time {
    flex: 1;
    display: flex;
    font-size: 30px;
    align-items: center;

}

.activity-equipe1 {
    flex: 2;
    display: flex;
    font-size: 20px;
    justify-content: flex-end;
    align-items: center;
}

.activity-versus {
    flex: 2;
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    align-items: center;

}

.activity-equipe2 {
    flex: 3;
    display: flex;
    font-size: 20px;
    justify-content: flex-start;
    align-items: center;
}

img.img-planning {
    width: 100px;
    height: 100px;
}